.add-crisis1 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 5.44rem;
  flex-shrink: 0;
}
.close-icon1 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.header7 {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.31rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.add-crisis-child {
  position: relative;
  width: 17.81rem;
  height: 0.06rem;
  object-fit: contain;
}
.date-and-time,
.header8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-family: inherit;
}
.header8 {
  font-weight: 700;
  white-space: pre-wrap;
}
.date-and-time {
  font-weight: 400;
}
.crisistime,
.crisistimediv,
.text-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88rem;
}
.text-input {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  background-color: #f0ecec;
  border-radius: 12px;
  width: 5.19rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 1rem;
  box-sizing: border-box;
  color: #1e385f;
}
.crisistime,
.crisistimediv {
  align-self: stretch;
}
.crisistime {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.63rem;
  gap: 0.31rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.header9,
.wheezing {
  position: relative;
  letter-spacing: -0.01em;
}
.header9 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.wheezing {
  font-size: 0.5rem;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: center;
  display: inline-block;
  width: 2.81rem;
}
.sneeze-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 3.75rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.38rem;
}
.torso-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.chest {
  margin: 0;
}
.chest-compressions {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: center;
}
.torso-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 3.75rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.19rem;
}
.dysponea {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: left;
}
.broom-parent,
.factory-parent,
.lungs-parent,
.smoking-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 3.75rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.31rem;
}
.broom-parent,
.factory-parent,
.smoking-parent {
  width: 3.13rem;
  gap: 0.38rem;
}
.broom-parent,
.factory-parent {
  gap: 0.19rem;
}
.factory-parent {
  gap: 0.31rem;
}
.framebtns {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.more-detailoptional {
  position: relative;
  letter-spacing: -0.01em;
}
.more,
.text-input1,
.text27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.more,
.text-input1 {
  justify-content: space-between;
}
.text-input1 {
  border-radius: 12px;
  background-color: #f0ecec;
  width: 5.19rem;
  height: 0.88rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 1rem;
  box-sizing: border-box;
}
.more {
  align-self: stretch;
  text-align: left;
  font-size: 0.69rem;
}
.breathing-exercises,
.more,
.text-input2 {
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
}
.breathing-exercises {
  align-self: stretch;
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  text-align: center;
}
.text-input2 {
  border: 0;
  outline: 0;
  font-size: 0.69rem;
  background-color: #f0ecec;
  width: 5.19rem;
  height: 0.88rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}
.add-crisis,
.addcrisisbtn,
.text-input2 {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
}
.addcrisisbtn {
  align-self: stretch;
  background-color: #b2e1e7;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.38rem 2rem;
  cursor: pointer;
}
.add-crisis {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  width: 20.31rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.44rem 1.25rem 0.63rem;
  box-sizing: border-box;
  gap: 0.31rem;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  font-family: "Plus Jakarta Sans";
}
