.close-icon14,
.inhaler-icon18 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.close-icon14 {
  width: 0.93rem;
  height: 0.93rem;
}
.close14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.inhaler-group {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.31rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.add-intake-inner {
  position: relative;
  width: 17.81rem;
  height: 0.06rem;
  object-fit: contain;
}
.statistics7,
.time-of-intake1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
}
.time-of-intake1 {
  font-weight: 400;
}
.frame-item {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  font-size: 0.88rem;
  background-color: #f0ecec;
  position: relative;
  border-radius: 12px;
  width: 5.19rem;
  height: 1.56rem;
  padding: 0.25rem 1rem 0.19rem;
  box-sizing: border-box;
  color: #1e385f;
}
.time-of-intake-parent {
  align-self: stretch;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88rem;
}
.statistics-parent4,
.statistics-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.63rem;
  gap: 0.63rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.statistics-parent5 {
  height: 3.88rem;
  box-sizing: border-box;
}
.name9 {
  display: inline-block;
  width: 5.44rem;
  flex-shrink: 0;
}
.name9,
.type {
  position: relative;
  letter-spacing: -0.01em;
}
.chevron-down-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}
.text-wrapper,
.text46 {
  display: flex;
  justify-content: flex-start;
}
.text46 {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.text-wrapper {
  width: 5rem;
  flex-direction: column;
  align-items: flex-start;
}
.content23,
.selector-inhaler1 {
  height: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
}
.content23 {
  border-radius: 12px;
  background-color: #f0ecec;
  filter: blur(0);
  width: 5.63rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.selector-inhaler1 {
  width: 16.44rem;
  display: none;
  align-items: flex-start;
  font-size: 0.88rem;
}
.inhaler14 {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: center;
  display: inline-block;
  width: 2.81rem;
}
.inhaler1-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 4.38rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frame-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text47 {
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  text-align: left;
}
.content24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button-primary13,
.button-primary14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-primary14 {
  flex: 1;
  border-radius: 12px;
  background-color: #b2e1e7;
  overflow: hidden;
  align-items: center;
  padding: 1rem 2rem;
}
.button-primary13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 2.38rem;
  align-items: flex-start;
}
.add-intake4,
.frame9 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.add-intake4 {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  width: 20.06rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.44rem 1.25rem 0.63rem;
  gap: 0.63rem;
}
.frame9 {
  position: absolute;
  width: 100%;
  top: 4.88rem;
  right: 0;
  left: 0;
  filter: drop-shadow(0 0 34px rgba(0, 0, 0, 0.6));
  height: 45.88rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.81rem 1.88rem;
}
.asthmapp-logo-light-111 {
  position: relative;
  width: 6.88rem;
  height: 3.66rem;
  object-fit: cover;
}
.asthmapp-logo-light-1-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-inner2 {
  position: absolute;
  bottom: 0.03rem;
  left: calc(50% - 187.5px);
  width: 23.44rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.63rem;
  box-sizing: border-box;
}
.text-icon9 {
  top: calc(50% - 5px);
  left: 2.13rem;
  width: 1.75rem;
  height: 0.69rem;
}
.battery-icon9,
.notch-icon9,
.text-icon9 {
  position: absolute;
  object-fit: cover;
}
.notch-icon9 {
  top: -0.12rem;
  left: 4.88rem;
  width: 0;
  height: 0;
}
.battery-icon9 {
  top: 0;
  right: 0.01rem;
  width: 1.52rem;
  height: 0.71rem;
}
.mobile-signal-icon9,
.wifi-icon9 {
  position: relative;
  width: 0.96rem;
  height: 0.69rem;
  object-fit: cover;
}
.mobile-signal-icon9 {
  width: 1.06rem;
  height: 0.67rem;
}
.recording-indicator-icon9 {
  position: absolute;
  top: -0.58rem;
  right: 3.53rem;
  width: 0.38rem;
  height: 0.38rem;
  object-fit: cover;
  display: none;
}
.right-side9 {
  position: absolute;
  top: 1.08rem;
  right: 0.91rem;
  width: 4.17rem;
  height: 0.71rem;
}
.iphone-x-or-newer9 {
  position: absolute;
  top: 0;
  left: calc(50% - 187.5px);
  width: 23.44rem;
  height: 2.75rem;
  overflow: hidden;
}
.frame10,
.home-indicator6 {
  position: absolute;
  background-color: #1e385f;
}
.frame10 {
  top: 0;
  left: 0;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 23.44rem;
  height: 5.75rem;
  overflow: hidden;
}
.home-indicator6 {
  bottom: 0.5rem;
  left: calc(50% - 66.5px);
  border-radius: 1.5px;
  width: 8.38rem;
  height: 0.31rem;
}
.home-indicator5 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 187.5px);
  width: 23.44rem;
  height: 2.13rem;
}
.add-intake3 {
  position: relative;
  border-radius: 32px;
  background-color: #7a8aa1;
  width: 100%;
  height: 50.75rem;
  overflow: hidden;
}
