.monotone-chevron-left-lg7 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.text39 {
  position: relative;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  color: #090e1d;
  text-align: left;
  display: none;
  width: 17.94rem;
  height: 1.56rem;
  flex-shrink: 0;
}
.vector-icon13 {
  position: absolute;
  height: 54.17%;
  width: 41.67%;
  top: 16.67%;
  right: 29.17%;
  bottom: 29.17%;
  left: 29.17%;
  border-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector7 {
  position: absolute;
  height: 8.33%;
  width: 8.33%;
  top: 79.17%;
  right: 45.83%;
  bottom: 12.5%;
  left: 45.83%;
  border-radius: 0.5px;
  background-color: #090e1d;
}
.monotone-question7 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.top-nav11,
.top-nav12 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.top-nav12 {
  align-items: center;
  gap: 1rem;
}
.top-nav11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 1.75rem;
  align-items: flex-start;
}
.asthmapp-logo-light-17 {
  position: relative;
  width: 6.88rem;
  height: 3.66rem;
  object-fit: cover;
}
.headerlogos6 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close-icon10 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.headerairquality1 {
  align-self: stretch;
  border-radius: 0 0 24px 24px;
  background-color: #1e385f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.75rem 1.5rem 0.31rem;
}
.your-area3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #7a8aa1;
  text-align: left;
}
.londonbtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 3.75rem;
  height: 1.13rem;
}
.travel {
  position: relative;
  letter-spacing: -0.01em;
}
.navairqltytravel,
.travelpageselect {
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.travelpageselect {
  background-color: #b2e1e7;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.31rem 0.63rem;
}
.navairqltytravel {
  margin: 0;
  align-self: stretch;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 0.63rem;
  text-align: left;
  font-size: 0.88rem;
  color: #fff;
  font-family: "Plus Jakarta Sans";
}
.travelmap-icon {
  position: relative;
  width: 21.44rem;
  height: 13.63rem;
  object-fit: cover;
}
.aqi2,
.b12 {
  position: relative;
  letter-spacing: -0.01em;
}
.aqi2 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.b12 {
  font-size: 1.63rem;
  color: #4d6b4c;
  text-align: center;
}
.aqi-widget2,
.pollutants1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.aqi-widget2 {
  border-radius: 0 36px 0 36px;
  background-color: #b6ddb4;
  padding: 0.38rem 2.25rem;
  font-size: 1rem;
}
.pollutants1 {
  overflow: hidden;
  padding: 0 0.63rem;
  font-size: 0.88rem;
}
.heading3 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 18px);
  letter-spacing: -0.01em;
  display: inline-block;
  width: 2.25rem;
  height: 1.13rem;
}
.path-icon6,
.path-icon7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.path-icon7 {
  width: 50%;
  left: 50%;
}
.frame-div {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}
.percentages1 {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.63rem;
  text-align: center;
  font-size: 0.88rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.widget-home2 {
  position: absolute;
  top: 0;
  left: 0.63rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 16.25rem;
  height: 6.81rem;
  overflow: hidden;
}
.group-child11,
.group-child12 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
}
.group-child11 {
  height: 100%;
  top: 0;
  background-color: #e8e8e8;
  border: 1px solid #727272;
  box-sizing: border-box;
  opacity: 0.3;
}
.group-child12 {
  height: 70.56%;
  top: 29.44%;
  background-color: #febb60;
}
.rectangle-parent5 {
  position: absolute;
  height: 83.83%;
  width: 66.67%;
  top: 0;
  right: 19.05%;
  bottom: 16.17%;
  left: 14.29%;
}
.m7 {
  position: absolute;
  height: 11.81%;
  width: 100%;
  top: 88.19%;
  left: 0;
  display: inline-block;
}
.group-parent5 {
  position: relative;
  width: 1.31rem;
  height: 5.88rem;
}
.group-child14 {
  position: absolute;
  height: 91.12%;
  width: 100%;
  top: 9.01%;
  right: 0;
  bottom: -0.13%;
  left: 0;
  border-radius: 12px;
  background-color: #ff8a84;
}
.group-parent6 {
  position: relative;
  width: 1.31rem;
  height: 5.88rem;
  opacity: 0.5;
}
.group-child16,
.group-child20 {
  position: absolute;
  height: 30.84%;
  width: 100%;
  top: 69.29%;
  right: 0;
  bottom: -0.13%;
  left: 0;
  border-radius: 12px;
  background-color: #b6ddb4;
}
.group-child20 {
  height: 9.64%;
  top: 90.48%;
  border: 1px solid #c6c6c8;
  box-sizing: border-box;
}
.instance-group {
  position: absolute;
  top: 0.25rem;
  left: 1.56rem;
  width: 15.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.graph1 {
  position: relative;
  width: 17.56rem;
  height: 6.88rem;
  text-align: center;
  font-size: 1.25rem;
  color: #727272;
  font-family: Roboto;
}
.maintravelinsights,
.travelinsights {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.travelinsights {
  border-radius: 12px;
  background-color: #fcf8f8;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0.63rem 1.25rem;
  gap: 0.63rem;
}
.maintravelinsights {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  padding: 0.75rem 1.88rem;
  gap: 0.75rem;
}
.cloud-icon7,
.home9 {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
}
.home9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.cloud-icon7 {
  object-fit: cover;
}
.air-quality-3,
.navbarairqlty1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.navbarairqlty1 {
  margin: 0;
  align-self: stretch;
  border-radius: 32px 32px 0 0;
  background-color: #fff;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.6);
  height: 5.13rem;
  flex-direction: row;
  padding: 0.63rem 1.88rem;
  box-sizing: border-box;
}
.air-quality-3 {
  position: relative;
  border-radius: 32px;
  background-color: #fcf8f8;
  width: 100%;
  height: 50.75rem;
  overflow: hidden;
  flex-direction: column;
}
