.asthmapp-logo-light-14,
.emergencylogo-icon2 {
  position: relative;
  width: 6.88rem;
  height: 3.66rem;
  object-fit: cover;
}
.emergencylogo-icon2 {
  width: 1.5rem;
  height: 1.5rem;
}
.headerlogos3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1.5rem;
}
.close-icon4 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.headeremergency2 {
  align-self: stretch;
  border-radius: 0 0 24px 24px;
  background-color: #1e385f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.75rem 1.5rem 0.31rem;
  box-sizing: border-box;
  z-index: 0;	
}
.call999-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #febb60;
  box-shadow: 0 4.2px 10.52px rgba(0, 0, 0, 0.1);
}
.add-phone-icon1 {
  position: absolute;
  height: 44.13%;
  width: 44.13%;
  top: 27.93%;
  right: 27.93%;
  bottom: 27.93%;
  left: 27.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.call999 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 9.38rem;
  height: 9.38rem;
}
.add-phone-icon2 {
  position: absolute;
  height: 44.14%;
  width: 44.14%;
  top: 28%;
  right: 27.86%;
  bottom: 27.86%;
  left: 28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.ellipse-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.38rem;
  height: 4.38rem;
}
.call-male-icon {
  position: absolute;
  top: 0.56rem;
  left: 0.75rem;
  width: 2.81rem;
  height: 3.19rem;
  object-fit: cover;
}
.contact1btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 4.38rem;
  height: 4.38rem;
}
.emergencycontacts {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.b7 {
  font-family: "Plus Jakarta Sans";
}
.sit-up-straight-try-to-keep1 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.if-your-symptoms-are-no-better1 {
  margin: 0;
}
.sit-up-straight-container1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
}
.text31,
.text32 {
  position: absolute;
  top: 0;
}
.text32 {
  left: 13.93%;
  font-size: 0.88rem;
  letter-spacing: -0.01em;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  color: #b2e1e7;
  text-align: center;
}
.text31 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
}
.hyperlink1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 7.63rem;
  height: 1.13rem;
}
.steps {
  align-self: stretch;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  height: 16.44rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.63rem 0.44rem;
  box-sizing: border-box;
  text-align: left;
  font-size: 0.88rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.combo-chart-icon {
  position: relative;
  width: 3.06rem;
  height: 1.81rem;
  object-fit: cover;
}
.text33 {
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  text-align: left;
}
.crisisstatsbtn,
.mainemergency1 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.crisisstatsbtn {
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  background-color: #b2e1e7;
  border-radius: 12px;
  height: 2.38rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.63rem;
}
.mainemergency1 {
  filter: drop-shadow(0 0 34px rgba(0, 0, 0, 0.3));
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.88rem 1.88rem 0;
  gap: 0.75rem;
  z-index: 1;	
}
.home-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home6,
.hospital-icon6 {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
}
.home6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.hospital-icon6 {
  object-fit: cover;
}
.emergency-1,
.navbaremergency2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbaremergency2 {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;  
  right: 0;
  justify-content: flex-end;
  mix-blend-mode: normal;
  z-index: 2;
  border-radius: 32px 32px 0 0;
  background-color: #fff;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.6);
  height: 5.13rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.63rem 1.88rem;
  box-sizing: border-box;
}
.emergency-1 {
  position: relative;
  border-radius: 32px;
  width: 100%;
  min-height: 50.75rem;
  overflow: auto;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 5.6rem;
  gap: 0.75rem;
  background-image: url(./public/emergency-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
