.monotone-chevron-left-lg5 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.text30 {
  position: relative;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  color: #090e1d;
  text-align: left;
  display: none;
  width: 17.94rem;
  height: 1.56rem;
  flex-shrink: 0;
}
.vector-icon11 {
  position: absolute;
  height: 54.17%;
  width: 41.67%;
  top: 16.67%;
  right: 29.17%;
  bottom: 29.17%;
  left: 29.17%;
  border-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector5 {
  position: absolute;
  height: 8.33%;
  width: 8.33%;
  top: 79.17%;
  right: 45.83%;
  bottom: 12.5%;
  left: 45.83%;
  border-radius: 0.5px;
  background-color: #090e1d;
}
.monotone-question5 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.top-nav7,
.top-nav8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.top-nav8 {
  flex-shrink: 0;
  align-items: center;
  gap: 1rem;
}
.top-nav7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: flex-start;
}
.asthmapp-logo-light-13 {
  position: relative;
  width: 6.88rem;
  height: 3.66rem;
  object-fit: cover;
}
.headerlogos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close-icon3 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.headeremergency1 {
  align-self: stretch;
  border-radius: 0 0 24px 24px;
  background-color: #1e385f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.75rem 1.5rem 0.31rem;
  box-sizing: border-box;
}
.emergency-steps {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
}
.header13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  color: #000;
}
.b2,
.header13 {
  font-family: "Plus Jakarta Sans";
}
.sit-up-straight-try-to-keep {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.if-your-symptoms-are-no-better {
  margin: 0;
}
.sit-up-straight-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
}
.emergencysteps {
  align-self: stretch;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.31rem 0.44rem;
  gap: 0.31rem;
  text-align: left;
  font-size: 0.88rem;
  color: #000;
  font-family: "Plus Jakarta Sans";
}
.ambulance-icon {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
}
.header14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.31rem;
  text-align: left;
  font-size: 1rem;
  color: #000;
  font-family: "Plus Jakarta Sans";
}
.try-to-take {
  display: block;
}
.try-to-take-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
}
.furtheradvice {
  align-self: stretch;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.31rem 0.44rem;
  gap: 0.31rem;
  text-align: left;
  font-size: 0.88rem;
  color: #000;
  font-family: "Plus Jakarta Sans";
}
.httpswwwyoutubecomwatch {
  text-decoration: underline;
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  color: inherit;
}
.mainemergency2,
.video {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
}
.video {
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0.31rem 0.44rem;
  text-align: left;
  font-size: 0.88rem;
  color: #000;
  font-family: "Plus Jakarta Sans";
}
.mainemergency2 {
  padding: 0 1.88rem;
}
.home-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
}
.emergency-2,
.navbaremergency1 {
  display: flex;
  justify-content: space-between;
}
.navbaremergency1 {
  margin: 0;
  align-self: stretch;
  border-radius: 32px 32px 0 0;
  background-color: #fff;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.6);
  height: 5.13rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.63rem 1.88rem;
  box-sizing: border-box;
}
.emergency-2 {
  position: relative;
  border-radius: 32px;
  width: 100%;
  height: 50.75rem;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  background-image: url(./public/emergency-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
