.text29 {
  position: relative;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  color: #090e1d;
  text-align: left;
  display: none;
  width: 17.94rem;
  height: 1.56rem;
  flex-shrink: 0;
}
.vector-icon10 {
  position: absolute;
  height: 54.17%;
  width: 41.67%;
  top: 16.67%;
  right: 29.17%;
  bottom: 29.17%;
  left: 29.17%;
  border-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector4 {
  position: absolute;
  height: 8.33%;
  width: 8.33%;
  top: 79.17%;
  right: 45.83%;
  bottom: 12.5%;
  left: 45.83%;
  border-radius: 0.5px;
  background-color: #090e1d;
}
.monotone-question4 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.top-nav5,
.top-nav6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.top-nav6 {
  flex-shrink: 0;
  align-items: center;
  gap: 1rem;
}
.top-nav5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: flex-start;
}
.asthmapp-logo-light-12,
.emergencylogo-icon {
  position: relative;
  width: 6.88rem;
  height: 3.66rem;
  object-fit: cover;
}
.emergencylogo-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.headerlogos1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close-icon2 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.headeremergency {
  align-self: stretch;
  border-radius: 0 0 24px 24px;
  background-color: #1e385f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.75rem 1.5rem 0.31rem;
  box-sizing: border-box;
  z-index: 0;	
}
.newcrisislogtext {
  margin: 0;
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  text-align: left;
}
.newcrisislog {
  cursor: pointer;
  border: 0;
  padding: 0.38rem;
  background-color: #b2e1e7;
  align-self: stretch;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.my-last-crisis {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
}
.stats-graph-icon {
  align-self: stretch;
  border-radius: 12px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.cough1 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 2.81rem;
}
.sneeze-container {
  border-radius: 10px;
  background-color: #f0ecec;
  width: 4.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.31rem;
  box-sizing: border-box;
  gap: 0.75rem;
}
.chest1 {
  margin: 0;
}
.torso-group {
  border-radius: 10px;
  background-color: #f0ecec;
  width: 4.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.31rem;
  box-sizing: border-box;
  gap: 0.31rem;
  text-align: center;
  font-size: 0.63rem;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: 0.88rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.exercise-icon {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
}
.exercise-parent {
  border-radius: 10px;
  background-color: #f0ecec;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.31rem;
  gap: 0.75rem;
}
.pollen {
  position: relative;
  letter-spacing: -0.01em;
}
.allergenssymptoms,
.mainemergency3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.allergenssymptoms {
  border-radius: 12px;
  background-color: #fff;
  height: 16.38rem;
  justify-content: space-between;
  padding: 0.75rem;
  box-sizing: border-box;
}
.mainemergency3 {
  justify-content: flex-start;
  padding: 0 1.88rem;
  gap: 0.75rem;
  z-index: 1;	
}
.home-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
}
.emergency-3,
.navbaremergency {
  display: flex;
  flex-direction: column;
  align-items: center;}
.navbaremergency {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;  
  right: 0;
  justify-content: flex-end;
  mix-blend-mode: normal;
  z-index: 2;
  border-radius: 32px 32px 0 0;
  background-color: #fff;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.6);
  height: 5.13rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.63rem 1.88rem;
  box-sizing: border-box;	
}
.emergency-3 {
  position: relative;
  border-radius: 32px;
  width: 100%;
  min-height: 50.75rem;
  overflow: auto;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 5.6rem;
  gap: 0.75rem;
  background-image: url(./public/emergency-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.add-crisis1 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  width: 5.44rem;
  flex-shrink: 0;
}
.close-icon1 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.header7 {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.31rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.add-crisis-child {
  position: relative;
  width: 17.81rem;
  height: 0.06rem;
  object-fit: contain;
}
.date-and-time,
.header8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-family: inherit;
}
.header8 {
  font-weight: 700;
  white-space: pre-wrap;
}
.date-and-time {
  font-weight: 400;
}
.crisistime,
.crisistimediv,
.text-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88rem;
}
.text-input {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  background-color: #f0ecec;
  border-radius: 12px;
  width: 5.19rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 1rem;
  box-sizing: border-box;
  color: #1e385f;
}
.crisistime,
.crisistimediv {
  align-self: stretch;
}
.crisistime {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.63rem;
  gap: 0.31rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.header9,
.wheezing {
  position: relative;
  letter-spacing: -0.01em;
}
.header9 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.wheezing {
  font-size: 0.5rem;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: center;
  display: inline-block;
  width: 2.81rem;
}
.sneeze-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 3.75rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.38rem;
}
.torso-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.chest {
  margin: 0;
}
.chest-compressions {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: center;
}
.torso-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 3.75rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.19rem;
}
.dysponea {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: left;
}
.broom-parent,
.factory-parent,
.lungs-parent,
.smoking-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 3.75rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.31rem;
}
.broom-parent,
.factory-parent,
.smoking-parent {
  width: 3.13rem;
  gap: 0.38rem;
}
.broom-parent,
.factory-parent {
  gap: 0.19rem;
}
.factory-parent {
  gap: 0.31rem;
}
.framebtns {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.more-detailoptional {
  position: relative;
  letter-spacing: -0.01em;
}
.more,
.text-input1,
.text27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.more,
.text-input1 {
  justify-content: space-between;
}
.text-input1 {
  border-radius: 12px;
  background-color: #f0ecec;
  width: 5.19rem;
  height: 0.88rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 1rem;
  box-sizing: border-box;
}
.more {
  align-self: stretch;
  text-align: left;
  font-size: 0.69rem;
}
.breathing-exercises,
.more,
.text-input2 {
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
}
.breathing-exercises {
  align-self: stretch;
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  text-align: center;
}
.text-input2 {
  border: 0;
  outline: 0;
  font-size: 0.69rem;
  background-color: #f0ecec;
  width: 5.19rem;
  height: 0.88rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}
.add-crisis,
.addcrisisbtn,
.text-input2 {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
}
.addcrisisbtn {
  align-self: stretch;
  background-color: #b2e1e7;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.38rem 2rem;
  cursor: pointer;
}
.add-crisis {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  width: 20.31rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.44rem 1.25rem 0.63rem;
  box-sizing: border-box;
  gap: 0.31rem;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  font-family: "Plus Jakarta Sans";
}
