.text-icon2 {
  top: calc(50% - 5px);
  left: 2.13rem;
  width: 1.75rem;
  height: 0.69rem;
}
.battery-icon2,
.notch-icon2,
.text-icon2 {
  position: absolute;
  object-fit: cover;
}
.notch-icon2 {
  top: -0.12rem;
  left: 4.88rem;
  width: 0;
  height: 0;
}
.battery-icon2 {
  top: 0;
  right: 0.01rem;
  width: 1.52rem;
  height: 0.71rem;
}
.mobile-signal-icon2,
.wifi-icon2 {
  position: relative;
  width: 0.96rem;
  height: 0.69rem;
  object-fit: cover;
}
.mobile-signal-icon2 {
  width: 1.06rem;
  height: 0.67rem;
}
.recording-indicator-icon2 {
  position: absolute;
  top: -0.58rem;
  right: 3.53rem;
  width: 0.38rem;
  height: 0.38rem;
  object-fit: cover;
  display: none;
}
.right-side2 {
  position: absolute;
  top: 1.08rem;
  right: 0.91rem;
  width: 4.17rem;
  height: 0.71rem;
}
.iphone-x-or-newer2 {
  position: relative;
  width: 23.44rem;
  height: 2.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.monotone-chevron-left-lg2 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.text13 {
  flex: 1;
  position: relative;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  color: #090e1d;
  text-align: left;
  display: none;
}
.vector-icon6 {
  position: absolute;
  height: 54.17%;
  width: 41.67%;
  top: 16.67%;
  right: 29.17%;
  bottom: 29.17%;
  left: 29.17%;
  border-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector2 {
  position: absolute;
  height: 8.33%;
  width: 8.33%;
  top: 79.17%;
  right: 45.83%;
  bottom: 12.5%;
  left: 45.83%;
  border-radius: 0.5px;
  background-color: #090e1d;
}
.monotone-question2 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.top-nav3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.sign-up3,
.text14 {
  align-self: stretch;
  position: relative;
}
.sign-up3 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 2.38rem;
  font-weight: 800;
  font-family: inherit;
}
.text14 {
  font-size: 0.88rem;
  letter-spacing: -0.01em;
}
.header2,
.headercontents1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.headercontents1 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.5rem;
}
.header2 {
  border-radius: 32px;
  height: 11.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.88rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.loremus-ipsumus-d3,
.name3 {
  position: relative;
  letter-spacing: -0.01em;
}
.name3 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.loremus-ipsumus-d3 {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  font-size: 0.88rem;
  background-color: transparent;
  color: #1e385f;
  text-align: left;
}
.text15 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.solid-eye-icon1 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  display: none;
}
.content6 {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.input-fields3 {
  gap: 0.5rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.email1,
.input-fields3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text16 {
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  text-align: left;
}
.content7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button-primary4,
.button-primary5 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.button-primary5 {
  flex: 1;
  border-radius: 12px;
  background-color: #b2e1e7;
  height: 3.5rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.button-primary4 {
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.text17 {
  position: relative;
  font-size: 0.88rem;
  letter-spacing: -0.01em;
  text-align: center;
}
.sign-up5,
.span1,
.text17 {
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
}
.sign-up5 {
  text-decoration: underline;
  font-weight: 800;
  color: #b2e1e7;
}
.text19 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.88rem;
  letter-spacing: -0.01em;
  text-align: center;
}
.text18 {
  position: relative;
  width: 3.75rem;
  height: 1.13rem;
  cursor: pointer;
}
.sign-up4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.forgot-password,
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame {
  align-self: stretch;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.2));
  padding: 0 1.5rem;
  gap: 2.5rem;
}
.forgot-password {
  position: relative;
  border-radius: 32px;
  width: 100%;
  min-height: 100dvh;
  overflow: auto;
  margin: 0;
  padding: 2.25rem 0;
  box-sizing: border-box;
  gap: 8.5rem;
  background-color: #F0ECEC;
  background-image: url(./public/forgot-password@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
