.text-icon4 {
  top: calc(50% - 5px);
  left: 2.13rem;
  width: 1.75rem;
  height: 0.69rem;
}
.battery-icon4,
.notch-icon4,
.text-icon4 {
  position: absolute;
  object-fit: cover;
}
.notch-icon4 {
  top: -0.12rem;
  left: 4.88rem;
  width: 0;
  height: 0;
}
.battery-icon4 {
  top: 0;
  right: 0.01rem;
  width: 1.52rem;
  height: 0.71rem;
}
.mobile-signal-icon4,
.wifi-icon4 {
  position: relative;
  width: 0.96rem;
  height: 0.69rem;
  object-fit: cover;
}
.mobile-signal-icon4 {
  width: 1.06rem;
  height: 0.67rem;
}
.recording-indicator-icon4 {
  position: absolute;
  top: -0.58rem;
  right: 3.53rem;
  width: 0.38rem;
  height: 0.38rem;
  object-fit: cover;
  display: none;
}
.right-side4 {
  position: absolute;
  top: 1.08rem;
  right: 0.91rem;
  width: 4.17rem;
  height: 0.71rem;
}
.iphone-x-or-newer4 {
  position: relative;
  width: 23.44rem;
  height: 2.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.asthmapp-logo-dark-11 {
  position: relative;
  width: 19.44rem;
  height: 10.19rem;
  object-fit: cover;
}
.your-intelligent-health {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 500;
  font-family: inherit;
}
.loading,
.logo-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-full {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  padding: 15.94rem 2rem;
  gap: 2rem;
  text-align: center;
  font-size: 1.13rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.loading {
  position: relative;
  border-radius: 32px;
  width: 100%;
  min-height: 50.75rem;
  overflow: auto;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: 0.75rem;
  background-image: url(./public/loading@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
