.asthmapp-logo-light-16,
.inhaler-icon12 {
  position: relative;
  width: 6.88rem;
  height: 3.66rem;
  object-fit: cover;
}
.inhaler-icon12 {
  width: 1.5rem;
  height: 1.5rem;
}
.headerlogos5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1.5rem;
}
.close-icon9 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.headermyinhaler1 {
  align-self: stretch;
  border-radius: 0 0 24px 24px;
  background-color: #1e385f;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.75rem 1.5rem 0.31rem;
  box-sizing: border-box;
}
.btntext1 {
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  text-align: left;
}
.newinhalerintake1 {
  cursor: pointer;
  border: 0;
  padding: 0.63rem;
  background-color: #b2e1e7;
  align-self: stretch;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inhalerimage {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 5.63rem;
  height: 9.94rem;
  background-image: url(./public/inhalerimage@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.love-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.love {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.69rem;
  height: 1.69rem;
}
.lastusage,
.lastusagevar {
  position: relative;
  letter-spacing: -0.01em;
}
.lastusage {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.lastusagevar {
  color: #b9b8b8;
}
.lastusagediv {
  align-self: stretch;
  border-radius: 5px;
  background-color: #f0ecec;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.31rem;
}
.expirydatevar,
.usagesleftvar {
  position: relative;
  letter-spacing: -0.01em;
  color: #b6ddb4;
}
.usagesleftvar {
  color: #ff8a84;
}
.statsinhaler {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.31rem;
  text-align: left;
  font-size: 0.88rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.reminders {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.reminders,
.remindervar {
  position: relative;
  letter-spacing: -0.01em;
}
.reminderul1 {
  margin: 0;
  border-radius: 5px;
  background-color: rgba(240, 236, 236, 0.6);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.13rem;
  font-size: 0.88rem;
}
.reminderssection {
  align-self: stretch;
  flex-direction: column;
  gap: 0.19rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.inhalerfield,
.inhalertext,
.reminderssection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inhalertext {
  flex: 1;
  height: 10.19rem;
  flex-direction: column;
  gap: 0.13rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.inhalerfield {
  margin: 0;
  align-self: stretch;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  flex-direction: row;
  padding: 0.38rem 0.75rem;
  gap: 0.63rem;
}
.inhalerimage2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 4.94rem;
  height: 9.94rem;
  background-image: url(./public/inhalerimage2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.widget-home1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}
.new-inhaler {
  position: absolute;
  top: 33.33%;
  left: 36.13%;
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: left;
}
.newinhalerbtn,
.usagehistorybtn {
  cursor: pointer;
  border: 0;
  align-self: stretch;
}
.newinhalerbtn {
  padding: 0;
  background-color: transparent;
  position: relative;
  height: 3.56rem;
}
.usagehistorybtn {
  padding: 1rem 2rem;
  background-color: #b2e1e7;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.mainmyinhaler {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.88rem;
  gap: 0.38rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.cloud6,
.home8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.home8 {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
}
.cloud6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./public/cloud2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cloud5,
.inhaler-icon13 {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
}
.cloud5 {
  cursor: pointer;
}
.inhaler-icon13 {
  object-fit: cover;
}
.my-inhaler1,
.navbarmyinhaler1 {
  display: flex;
  justify-content: space-between;
}
.navbarmyinhaler1 {
  margin: 0;
  align-self: stretch;
  border-radius: 32px 32px 0 0;
  background-color: #fff;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.6);
  height: 5.13rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.63rem 1.88rem;
  box-sizing: border-box;
}
.my-inhaler1 {
  position: relative;
  border-radius: 32px;
  background-color: #fcf8f8;
  width: 100%;
  height: 50.75rem;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.inhaler-icon7 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.add-intake {
  position: relative;
  letter-spacing: -0.01em;
}
.close-icon6 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.headeraddintake {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.31rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.addintakepopup-child {
  position: relative;
  width: 17.81rem;
  height: 0.06rem;
  object-fit: contain;
}
.header17,
.time-of-intake {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
}
.time-of-intake {
  font-weight: 400;
}
.inputtimeintakediv,
.intaketimevar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88rem;
}
.intaketimevar {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  background-color: #f0ecec;
  border-radius: 12px;
  width: 5.19rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 1rem;
  box-sizing: border-box;
  color: #1e385f;
}
.inputtimeintakediv {
  align-self: stretch;
  height: 1.5rem;
}
.inputtimeintakesecion {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.63rem;
  gap: 0.63rem;
  text-align: left;
  font-size: 1rem;
}
.inhaler12,
.inputnbpuffssection,
.inputtimeintakesecion {
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
}
.inputnbpuffssection {
  align-self: stretch;
  height: 3.88rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.63rem;
  box-sizing: border-box;
  gap: 0.63rem;
  text-align: left;
  font-size: 1rem;
}
.inhaler12 {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline-block;
  width: 2.81rem;
}
.btnssection,
.inhaler11 {
  display: flex;
  align-items: center;
}
.inhaler11 {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 4.38rem;
  height: 3.13rem;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.btnssection {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.text35 {
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  text-align: left;
}
.content15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.addintakebtn,
.addintakepopup {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.addintakebtn {
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  background-color: #b2e1e7;
  align-self: stretch;
  height: 2.38rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addintakepopup {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  width: 20.06rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.44rem 1.25rem 0.63rem;
  gap: 0.63rem;
  max-width: 90%;
  max-height: 90%;
}
.add-inhalermodify-inhaler {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
}
.close-icon7 {
  position: relative;
  width: 0.93rem;
  height: 0.93rem;
  object-fit: cover;
}
.close7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
}
.headereditinhaler {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.31rem;
  gap: 0.63rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.addinhalerpopup-child {
  position: relative;
  width: 17.81rem;
  height: 0.06rem;
  object-fit: contain;
}
.header20,
.inhaler-name {
  margin: 0;
  position: relative;
  letter-spacing: -0.01em;
  font-family: inherit;
}
.header20 {
  font-size: 1rem;
  font-weight: 700;
}
.inhaler-name {
  font-size: inherit;
  font-weight: 400;
}
.inhalername,
.text-input3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-input3 {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  font-size: 0.88rem;
  background-color: #f0ecec;
  border-radius: 12px;
  width: 5.63rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.13rem 0.31rem;
  box-sizing: border-box;
  color: #1e385f;
}
.inhalername {
  align-self: stretch;
  height: 1.5rem;
  justify-content: space-between;
}
.expirydate-child,
.inputinhalernamesection {
  font-family: "Plus Jakarta Sans";
  font-size: 0.88rem;
  color: #1e385f;
}
.inputinhalernamesection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.63rem;
  gap: 0.63rem;
  text-align: left;
}
.expirydate-child {
  border: 0;
  outline: 0;
  background-color: #f0ecec;
  position: relative;
  border-radius: 12px;
  width: 5.19rem;
  height: 1.56rem;
  padding: 0.25rem 1rem 0.19rem;
  box-sizing: border-box;
}
.expirydate {
  align-self: stretch;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.88rem;
}
.inputexpirydatesection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.63rem;
  gap: 0.63rem;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.schedule-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.prevention {
  position: relative;
  font-size: 0.5rem;
  letter-spacing: -0.01em;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
  text-align: center;
  display: inline-block;
  width: 2.81rem;
}
.schedule-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 6.88rem;
  height: 3.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.38rem;
}
.coughing-parent,
.inhalertypebtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coughing-parent {
  cursor: pointer;
  border: 0;
  padding: 0.31rem;
  background-color: #f0ecec;
  border-radius: 10px;
  width: 6.88rem;
  height: 3.13rem;
  flex-direction: column;
  box-sizing: border-box;
}
.inhalertypebtns {
  align-self: stretch;
  flex-direction: row;
}
.addreminderbtn {
  cursor: pointer;
  border: 0;
  padding: 0.13rem;
  background-color: #b2e1e7;
  border-radius: 64px;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.header23 {
  align-self: stretch;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.header23,
.label,
.reminderul,
.text-input5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label {
  justify-content: flex-start;
  gap: 0.31rem;
}
.reminderul,
.text-input5 {
  justify-content: space-between;
}
.text-input5 {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  font-size: 0.88rem;
  background-color: #f0ecec;
  border-radius: 12px;
  width: 5.19rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: 1rem;
  box-sizing: border-box;
  color: #1e385f;
}
.reminderul {
  margin: 0;
  align-self: stretch;
  height: 1.5rem;
}
.dosageprescriptionsection,
.text36 {
  font-family: "Plus Jakarta Sans";
  text-align: left;
}
.dosageprescriptionsection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0.63rem;
  gap: 0.63rem;
  font-size: 0.88rem;
  color: #1e385f;
}
.text36 {
  position: relative;
  font-size: 1rem;
  letter-spacing: -0.01em;
  color: #fff;
}
.content16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.addinhalerpopup,
.button-primary8 {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.button-primary8 {
  cursor: pointer;
  border: 0;
  padding: 1rem 2rem;
  background-color: #b2e1e7;
  align-self: stretch;
  height: 2.38rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addinhalerpopup {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
  width: 20.06rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.44rem 1.25rem 0.63rem;
  gap: 0.63rem;
  max-width: 90%;
  max-height: 90%;
}
