.text-icon6 {
  top: calc(50% - 5px);
  left: 2.13rem;
  width: 1.75rem;
  height: 0.69rem;
}
.battery-icon6,
.notch-icon6,
.text-icon6 {
  position: absolute;
  object-fit: cover;
}
.notch-icon6 {
  top: -0.12rem;
  left: 4.88rem;
  width: 0;
  height: 0;
}
.battery-icon6 {
  top: 0;
  right: 0.01rem;
  width: 1.52rem;
  height: 0.71rem;
}
.mobile-signal-icon6,
.wifi-icon6 {
  position: relative;
  width: 0.96rem;
  height: 0.69rem;
  object-fit: cover;
}
.mobile-signal-icon6 {
  width: 1.06rem;
  height: 0.67rem;
}
.recording-indicator-icon6 {
  position: absolute;
  top: -0.58rem;
  right: 3.53rem;
  width: 0.38rem;
  height: 0.38rem;
  object-fit: cover;
  display: none;
}
.right-side6 {
  position: absolute;
  top: 1.08rem;
  right: 0.91rem;
  width: 4.17rem;
  height: 0.71rem;
}
.iphone-x-or-newer6 {
  align-self: stretch;
  position: relative;
  height: 2.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.monotone-chevron-left-lg8 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.text43 {
  flex: 1;
  position: relative;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
  font-weight: 800;
  font-family: "Plus Jakarta Sans";
  color: #090e1d;
  text-align: left;
  display: none;
}
.vector-icon14 {
  position: absolute;
  height: 54.17%;
  width: 41.67%;
  top: 16.67%;
  right: 29.17%;
  bottom: 29.17%;
  left: 29.17%;
  border-radius: 3px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector8 {
  position: absolute;
  height: 8.33%;
  width: 8.33%;
  top: 79.17%;
  right: 45.83%;
  bottom: 12.5%;
  left: 45.83%;
  border-radius: 0.5px;
  background-color: #090e1d;
}
.monotone-question8 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.top-nav13,
.top-nav14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.top-nav14 {
  flex: 1;
  flex-shrink: 0;
  align-items: center;
  gap: 1rem;
}
.top-nav13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.change-pic-child,
.male-user-icon1 {
  position: relative;
  width: 8.19rem;
  height: 8.94rem;
  object-fit: cover;
  z-index: 0;
}
.change-pic-child {
  width: 7.94rem;
  height: 7.94rem;
}
.change-pic-inner,
.change-pic-item {
  position: absolute;
  margin: 0 !important;
}
.change-pic-item {
  top: 6.06rem;
  left: 5.31rem;
  border-radius: 50%;
  background-color: #b2e1e7;
  width: 1.88rem;
  height: 1.88rem;
  z-index: 1;
}
.change-pic-inner {
  top: 6.36rem;
  left: 5.62rem;
  width: 1.27rem;
  height: 1.27rem;
  object-fit: cover;
  z-index: 2;
}
.change-pic,
.profilepic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.change-pic {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin: 0 !important;
  position: absolute;
  top: 0.5rem;
  left: 0.13rem;
  flex-shrink: 0;
  justify-content: space-between;
  z-index: 1;
}
.profilepic {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  justify-content: flex-start;
  position: relative;
  gap: 0.63rem;
}
.username {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 2.38rem;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  width: 20.44rem;
}
.header27,
.headercontent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headercontent1 {
  height: 14.31rem;
  justify-content: space-between;
  padding: 0.63rem 0;
  box-sizing: border-box;
}
.header27 {
  border-radius: 32px;
  overflow: hidden;
  justify-content: flex-end;
  text-align: center;
  font-size: 1.88rem;
  color: #fff;
  font-family: "Plus Jakarta Sans";
}
.myarea {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 800;
  display: inline-block;
  width: 3.63rem;
  flex-shrink: 0;
}
.area,
.content20 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content20 {
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  font-size: 0.75rem;
  background-color: #f0ecec;
  border-radius: 12px;
  filter: blur(0);
  overflow: hidden;
  justify-content: flex-start;
  padding: 0.38rem 0.75rem;
  color: #1e385f;
  mix-blend-mode: normal;
}
.area {
  align-self: stretch;
  justify-content: space-between;
}
.accesibility,
.dyslexialabel {
  margin: 0;
  position: relative;
  letter-spacing: -0.01em;
  font-family: inherit;
}
.accesibility {
  font-size: 1rem;
  font-weight: 700;
}
.dyslexialabel {
  font-size: inherit;
  font-weight: 400;
  display: inline-block;
  width: 12.5rem;
  flex-shrink: 0;
}
.button {
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(103, 110, 118, 0.08);
  width: 1.25rem;
  height: 1.25rem;
}
.toggle,
.toggles {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toggles {
  border-radius: 100px;
  background-color: #b2e1e7;
  width: 2.75rem;
  height: 1.5rem;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0.13rem 0.19rem;
  box-sizing: border-box;
}
.toggle {
  width: 2.94rem;
  justify-content: space-between;
}
.usernamelabel {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-family: inherit;
}
.textinput {
  background-color: #f0ecec;
  border-radius: 12px;
  width: 11.56rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.31rem;
  box-sizing: border-box;
}
.emailvar,
.textinput,
.textinput1 {
  border: 0;
  outline: 0;
  font-family: "Plus Jakarta Sans";
  font-size: 0.88rem;
  color: #1e385f;
}
.textinput1 {
  background-color: #f0ecec;
  border-radius: 12px;
  width: 11.56rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.31rem;
  box-sizing: border-box;
}
.emailvar {
  background-color: transparent;
  position: relative;
  letter-spacing: -0.01em;
  text-align: left;
}
.textinput2 {
  border-radius: 12px;
  background-color: #f0ecec;
  width: 11.56rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.31rem;
  box-sizing: border-box;
}
.notificationslabel {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 12.5rem;
  flex-shrink: 0;
}
.notifications {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.signoutdescription,
.signoutlabel {
  margin: 0;
  position: relative;
  letter-spacing: -0.01em;
}
.signoutlabel {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 12.5rem;
}
.signoutdescription {
  font-size: 0.88rem;
  text-align: center;
}
.sign-out,
.signoutdescription,
.span2 {
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  color: #1e385f;
}
.sign-out {
  text-decoration: underline;
  font-weight: 800;
  color: #b2e1e7;
}
.signoutlink {
  text-decoration: none;
  position: relative;
  font-size: 0.88rem;
  letter-spacing: -0.01em;
  text-align: center;
  cursor: pointer;
}
.sign-up7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.mainsettings,
.settings,
.signout {
  display: flex;
  flex-direction: column;
}
.signout {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 1rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.mainsettings,
.settings {
  overflow: auto;
}
.mainsettings {
  align-self: stretch;
  flex: 1;	
  border-radius: 24px 24px 0 0;
  background-color: #fcf8f8;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 0.63rem 0.75rem;
  gap: 0.63rem;
  text-align: left;
  font-size: 0.88rem;
  color: #1e385f;
  font-family: "Plus Jakarta Sans";
}
.settings {
  position: relative;
  border-radius: 32px;
  width: 100%;
  min-height: 100dvh;
  overflow: auto;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #F0ECEC;
  background-image: url(./public/home2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
