.inhaler-icon16 {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}
.add-intake2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    font-weight: 700;
    font-family: inherit;
}
.close-icon13 {
    position: relative;
    width: 0.93rem;
    height: 0.93rem;
    object-fit: cover;
}
.close13 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 1.13rem;
    height: 1.13rem;
}
.inhaler-parent {
    align-self: stretch;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.31rem;
    text-align: left;
    font-size: 1rem;
    color: #1e385f;
    font-family: "Plus Jakarta Sans";
}
.add-intake-child {
    position: relative;
    width: 17.81rem;
    height: 0.06rem;
    object-fit: contain;
}
.name8 {
    position: relative;
    letter-spacing: -0.01em;
}
.selector-inhaler {
    width: 16.44rem;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.88rem;
}
.statistics-parent3,
.text45 {
    font-size: 1rem;
    font-family: "Plus Jakarta Sans";
    text-align: left;
}
.statistics-parent3 {
    align-self: stretch;
    height: 3.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.63rem;
    box-sizing: border-box;
    gap: 0.63rem;
    color: #1e385f;
}
.text45 {
    position: relative;
    letter-spacing: -0.01em;
    color: #fff;
}
.content22 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.button-primary11,
.button-primary12 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-primary12 {
    flex: 1;
    border-radius: 12px;
    background-color: #b2e1e7;
    overflow: hidden;
    align-items: center;
    padding: 1rem 2rem;
}
.button-primary11 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 2.38rem;
    align-items: flex-start;
}
.add-intake-item {
    position: relative;
    width: 17.56rem;
    height: 0.88rem;
    object-fit: contain;
}
.add-intake1,
.frame7 {
    display: flex;
    box-sizing: border-box;
}
.add-intake1 {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
    width: 20.06rem;
    height: 13.13rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.44rem 1.25rem 0.63rem;
    gap: 0.63rem;
}
.frame7 {
    position: absolute;
    width: 100%;
    top: 4.88rem;
    right: 0;
    left: 0;
    filter: drop-shadow(0 0 34px rgba(0, 0, 0, 0.6));
    height: 45.88rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.81rem 1.88rem;
}
.asthmapp-logo-light-110 {
    position: relative;
    width: 6.88rem;
    height: 3.66rem;
    object-fit: cover;
}
.asthmapp-logo-light-1-group {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frame-inner1 {
    position: absolute;
    bottom: 0.03rem;
    left: calc(50% - 187.5px);
    width: 23.44rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.63rem;
    box-sizing: border-box;
}
.text-icon8 {
    top: calc(50% - 5px);
    left: 2.13rem;
    width: 1.75rem;
    height: 0.69rem;
}
.battery-icon8,
.notch-icon8,
.text-icon8 {
    position: absolute;
    object-fit: cover;
}
.notch-icon8 {
    top: -0.12rem;
    left: 4.88rem;
    width: 0;
    height: 0;
}
.battery-icon8 {
    top: 0;
    right: 0.01rem;
    width: 1.52rem;
    height: 0.71rem;
}
.mobile-signal-icon8,
.wifi-icon8 {
    position: relative;
    width: 0.96rem;
    height: 0.69rem;
    object-fit: cover;
}
.mobile-signal-icon8 {
    width: 1.06rem;
    height: 0.67rem;
}
.recording-indicator-icon8 {
    position: absolute;
    top: -0.58rem;
    right: 3.53rem;
    width: 0.38rem;
    height: 0.38rem;
    object-fit: cover;
    display: none;
}
.right-side8 {
    position: absolute;
    top: 1.08rem;
    right: 0.91rem;
    width: 4.17rem;
    height: 0.71rem;
}
.iphone-x-or-newer8 {
    position: absolute;
    top: 0;
    left: calc(50% - 187.5px);
    width: 23.44rem;
    height: 2.75rem;
    overflow: hidden;
}
.frame8,
.home-indicator4 {
    position: absolute;
    background-color: #1e385f;
}
.frame8 {
    top: 0;
    left: 0;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 23.44rem;
    height: 5.75rem;
    overflow: hidden;
}
.home-indicator4 {
    bottom: 0.5rem;
    left: calc(50% - 66.5px);
    border-radius: 1.5px;
    width: 8.38rem;
    height: 0.31rem;
}
.home-indicator3 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 187.5px);
    width: 23.44rem;
    height: 2.13rem;
}
.quick-intake1 {
    position: relative;
    border-radius: 32px;
    background-color: #7a8aa1;
    width: 100%;
    height: 50.75rem;
    overflow: hidden;
}
